{{ form_start(form ) }}
    <table>
      <tr>
        <td>
          {{ form_label( form.nombreProducto) }}
          {{ form_widget(form.nombreProducto) }}
        </td>
        <td>
          {{ form_label(form.cantidad) }}
          {{ form_widget(form.cantidad) }}
        </td>
      <tr>
      </tr>
        <td>
          {{ form_label(form.SKU) }}
          {{ form_widget(form.SKU) }}
        </td>
        <td>
          {{ form_label(form.precioCompra) }}
          {{ form_widget(form.precioCompra) }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form_label(form.precioVenta) }}
          {{ form_widget(form.precioVenta) }}
        </td>
        <td>
          {{ form_label(form.imagen) }}
          {{ form_widget(form.imagen) }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form_label(form.descripcion) }}
          {{ form_widget(form.descripcion) }}
        </td>
        <td>
          {{ form_label(form.imageFile) }}
          {{ form_widget(form.imageFile) }}
        </td>
      </tr>
    </table>

    <!-- <button id='guardar' class="btn">{{ button_label|default('Save') }}</button> -->
{{ form_end(form) }}
