{{ form_start(formProducto ) }}
      <table>
      <tr>
        <td>
          {{ form_label( formProducto.nombreProducto) }}
          {{ form_widget(formProducto.nombreProducto) }}
          {{ form_errors(formProducto.nombreProducto) }}
        </td>
        <td>
          {{ form_label(formProducto.precioCompra) }}
          {{ form_widget(formProducto.precioCompra) }}
          {{ form_errors(formProducto.precioCompra) }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form_label(formProducto.precioVenta) }}
          {{ form_widget(formProducto.precioVenta) }}
          {{ form_errors(formProducto.precioVenta) }}
        </td>
        <td>
          {{ form_label(formProducto.imagen) }}
          {{ form_widget(formProducto.imagen) }}
          {{ form_errors(formProducto.imagen) }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form_label(formProducto.descripcion) }}
          {{ form_widget(formProducto.descripcion) }}
          {{ form_errors(formProducto.descripcion) }}
        </td>

      </tr>
      <tr>
        <td>
          {{ form_label(formProducto.imageFile) }}
          {{ form_widget(formProducto.imageFile) }}
          {{ form_errors(formProducto.imageFile) }}
        </td>
        <td>
          {{ form_label(formProducto.menu) }}
          {{ form_widget(formProducto.menu) }}
          {{ form_errors(formProducto.menu) }}
        </td>
      </tr>
    </table>

    <!-- <button id='guardar' class="btn">{{ button_label|default('Save') }}</button> -->
{{ form_end(formProducto) }}
