

{% block contenido %}

    <h1>Editar Producto</h1>

    {{ include('producto/_formEdit.html.twig', {'button_label': 'Update'}) }}

    {{ include('producto/_delete_form.html.twig') }}
     <label for="msg">{{estado}}</label>
     <label for="msg">{{mensaje}}</label>

{% endblock %}
