{% block contenido %}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>nombre</th>
            <th>precio</th>
            <th>cantidad</th>
            <th>subtotal</th>
        </tr>
    </thead>
    <tbody>
    {% for producto in productos %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombreProducto }}</td>
            <td>{{ producto.precioVenta }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.subTotal }}</td>
            <td>

            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
