

{% for producto in productos %}
  <div  id="divProducto{{ producto.id }}"   class=" text-center item col-md-4">
      <div style=" min-width:300px; background-color: RGBA(174,173,172,0.73); border-radius: 5px ; margin: 10px "  >
            <br>
            <div class="flashs">
                <a class="thumb-link" href="#openModal4">
                  <img width="220" id="imgProducto{{ producto.id }}" class="center" src="{{ vich_uploader_asset(producto,'imageFile') }}"  style=" border-radius: 5px">
                </a>
            </div>
            <h3 class="product-name short">
                <a id="{{ producto.id }}" style="color: #000000;font-size:18px;font-weight: 100;" >{{ producto.nombreProducto }}</a>
                <i id="editProducto{{ producto.id }}" data-id="{{ producto.id }}" class="fas fa-edit" style="font-size:24px" align="right"></i>
                <i id="eliminarProducto{{ producto.id }}"  data-id="{{ producto.id }}" class='far fa-trash-alt'></i>
              </h3>
              <span style="color: #FFFFFF;font-size:12px;font-weight: 100, text-align: left;">{{ producto.descripcion }}<br></span>
              <span style=" color: FF3511;   font-size:  18px;   bottom: 197px;font-weight: bolder;	">${{ producto.precioVenta }}</span><br>
            <br>
      </div>
  </div>

{% endfor %}
