
<div id="contenidoPlatillosProductos" style="display: block">
<h1 class="caption2-slide1 tit4 t-center animated  m-b-15"> GESTION DE PRODUCTOS </h1>
<section>
     <div class="container">
       <div class="row" >
            {% if is_granted('ROLE_ADMIN') %}
            {% endif %}
            <div  class="col-md-5" style="background-color: RGBA(174,173,172,0.8); border-radius: 5px  ; border: solid 1px #FA4A2A;">
               <h4 align="center" class="txt5 color0-hov trans-0-4 m-b-13"> Agregar Menu  </h4>
               <form>
                  {{ include('menu/_form.html.twig') }}
               </form>
               </br>
               <div class="row" style="background-color: RGBA(30, 15, 15 ,0.5); border-radius: 5px" >
                 <button id="btnGuardarMenu"  style="margin: 10px" class="btn btn-success"> <i class="far fa-save"> Guardar</i></button>
                 <button id="btnEditarMenu"  style="margin: 10px" class="btn btn-primary"> <i class="fas fa-edit"> Editar</i> </button>
                 <button id="btnEliminarMenu"  style="margin: 10px" class="btn btn-danger"><i class="fas fa-eraser"> Delete</i> </button>
                 <button id="btnLimpiarMenu"  style="margin: 10px" class="btn btn-dark"><i class="fas fa-window-restore">Limpiar</i> </button>
               </div>
            </div>
            <div  class="col-md-7" style="background-color: RGBA(174,173,172,0.8); border-radius: 5px" id="TablaMenus">
            </div>
        </div>
      </div>
      </br>

   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
   {% endif %}
   {% if is_granted('ROLE_ADMIN') %}
   {% endif %}
   <div class="container">
     <div class="row">
        <div class=" col-md-7"  style="background-color: RGBA(174,173,172,0.73); border-radius: 5px ; border: solid 1px #FA4A2A;" >
           <h4 align="center" class="txt5 color0-hov trans-0-4 m-b-13"> Agregar Producto  </h4>
           {{ include('producto/_form.html.twig') }}
           <br>
           <div class="row" style="background-color: RGBA(30, 15, 15 ,0.5); border-radius: 5px" >
           <button id="guardar"   style="margin: 10px" class="btn btn-success" > <i class="far fa-save"> Guardar</i> </button>
           <button id="btnEditarProducto" style="margin: 10px" class="btn btn-primary"   > <i class="fas fa-edit"> Editar</i> </button>
           <button id="btnEliminarProducto" style="margin: 10px" class="btn btn-danger"   > <i class="fas fa-eraser"> Delete</i> </button>
           <button id="btnLimpiarProducto" style="margin: 10px" class="btn btn-dark"  > <i class="fas fa-window-restore">Limpiar</i> </button>
           </div>
           <br>
        </div>
        <div class="col-md-5" style="background-color: RGBA(174,173,172,0.73); border-radius: 5px ;">
           <h4 align="center" class="txt5 color0-hov trans-0-4 m-b-13"> Producto seleccionado  </h4>
           <div id="imgProductoSeleccionado" align="center">
           </div>
        </div>
      </div>
    </div>
    </br>

   <!--------------------------------------INFORMACION------------------------------------------------>
     <div class="container">
       <div class="row" >
          <div class=" col-md-6">
             <input type="text" id="txtbuscar" class="form-control" placeholder="Search">
             <button id="btnbuscar" class="btn btn-secondary">Buscar</button>
             <button id="btnver" class="btn btn-secondary">Ver todos</button>
          </div>
          <div class=" col-md-6">
             <select id="filtrar_producto_menu"  class="form-control"></select>
             <button id="btnFiltrarProductos" class="btn btn-secondary">Filtrar por menu</button>
          </div>
       </div>
      </div>
      </br>

      <div  class="container" >

         <div class="row" id="productos">
            <!- =========================================   RENDER PRODUCTOS  =======================================================->
            <!--{{ include('producto/pintarProductos.html.twig') }} -->
         </div>

      </div>
    </section>

<script src="{{ asset('generalTemplate/') }}JsProyecto/gestionMenusPlatillos.js"></script>
</div>
