{% extends 'baseNavegacion.html.twig' %}

{% block Titulo %}Producto{% endblock %}


{% block Breadcrum %}
    <li class="breadcrumb-item">  </li>
    <li class="breadcrumb-item active">   </li>
{% endblock %}


{% block contenido %}
    <h1>Producto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producto.id }}</td>
            </tr>
            <tr>
                <th>NombreProducto</th>
                <td>{{ producto.nombreProducto }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ producto.cantidad }}</td>
            </tr>
            <tr>
                <th>SKU</th>
                <td>{{ producto.SKU }}</td>
            </tr>
            <tr>
                <th>PrecioCompra</th>
                <td>{{ producto.precioCompra }}</td>
            </tr>
            <tr>
                <th>PrecioVenta</th>
                <td>{{ producto.precioVenta }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ producto.imagen }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ producto.image }}</td>
            </tr>



                {# the second parameter is the name of the property with the UploadableField annotation #}
                <img src="{{ vich_uploader_asset(producto, 'imageFile') }}">


        </tbody>
    </table>

    <a href="{{ path('producto_index') }}">back to list</a>

    <a href="{{ path('producto_edit', {'id': producto.id}) }}">edit</a>

    {{ include('producto/_delete_form.html.twig') }}
{% endblock %}
