<div id="contenidoSucursales" style="display: block">
<div class="container" style="background-color: RGBA(174,173,172,0.8); border-radius: 5px  ; border: solid 1px #FA4A2A;">
<section class="row">
        {% if is_granted('ROLE_ADMIN') %}  
        {% endif %}

        <div class="container">
            <div class="row">
                {% if is_granted('ROLE_ADMIN') %} {% endif %}
                <div class="col-md-5" style="background-color: RGBA(174,173,172,0.8); border-radius: 5px  ; border: solid 1px #FA4A2A;">
                    <h4 align="center" class="txt5 color0-hov trans-0-4 m-b-13"> Agregar sucursal  </h4>
                    
                        {{ include('sucursal/_form.html.twig') }}
                   
                    </br>
                    <div class="row" style="background-color: RGBA(30, 15, 15 ,0.5); border-radius: 5px">
                        <button id="btnGuardarSucursal" style="margin: 10px" class="btn btn-success"> <i class="far fa-save"> Guardar</i></button>
                        <button id="btnEditarSucursal" style="margin: 10px" class="btn btn-primary"> <i class="fas fa-edit"> Editar</i> </button>
                        <button id="btnActualizarTabla" style="margin: 10px" class="btn btn-danger"><i class="fas fa-eraser"> Actualizar</i> </button>
                        <button id="btnLimpiarSucursal" style="margin: 10px" class="btn btn-dark"><i class="fas fa-window-restore">Limpiar</i> </button>
                    </div>
                </div>
                <div class="col-md-7" style="background-color: RGBA(174,173,172,0.8); border-radius: 5px" id="TablaSucursals">
                    
                   <!---------------------------------------- ACA SE RENDERIZA LA LISTA ---------------------------->

                </div>
            </div>
        </div>
        </br>

</section>
</div>
<script src="{{ asset('generalTemplate/') }}JsProyecto/gestionSucursales.js"></script>
</div>

<script type="text/javascript">


</script>