{% extends'baseNavegacion.html.twig'%}
{% block Titulo %}Gestión de sucursales{% endblock %}
{% block Breadcrum %}
 <h1 class="caja"  align='center'>Gestion de sucursales</h1>
{% endblock %}
{% block contenido %}

  <div class="row justify-content-center ">
      <div class="col-md-6">
          <div class="well well-sm rounded border border-primary">
      
              <p class="h4 text-center py-4">NUEVA SUCURSAL</p>

              {{ include('sucursal/_form.html.twig') }}
              <a href="{{ path('sucursal_index') }}">back to list</a>


          </div>
      </div>
  </div>


{% endblock %}
