{% extends'baseNavegacion.html.twig'%}
{% block Titulo %}Gestión de sucursales{% endblock %}
{% block Breadcrum %}
 <h1 class="caja"  align='center'>Gestion de sucursales</h1>
{% endblock %}
{% block contenido %}
    <h1>Sucursal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sucursal.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ sucursal.nombre }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ sucursal.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sucursal_index') }}">back to list</a>

    <a href="{{ path('sucursal_edit', {'id': sucursal.id}) }}">edit</a>

    {{ include('sucursal/_delete_form.html.twig') }}

    <button class="btn " id="mensaje">
    <a href="{{ path('mensajes', {'sucursal': sucursal.id}) }}">Mensaje</a>
    </button>
    <button class="btn " id="menus">
    <a href="{{ path('producto_index', {'sucursal': sucursal.id} ) }}">Menus</a>
    </button>

{% endblock %}
