<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for sucursal in sucursals %}
        <tr>
            <td>{{ sucursal.id }}</td>
            <td id="sucursalNombre{{ sucursal.id }}">{{ sucursal.nombre }}</td>
            <td id="sucursalDireccion{{ sucursal.id }}">{{ sucursal.direccion }}</td>
            <td>
               
                <button id="btnVer{{ sucursal.id }}" data-idSucursal="{{ sucursal.id }}" data-admin="{{ sucursal.admin.id }}" class="btn btn-primary btn-large"><i class="icon-folder-open">Editar</i> </button>
                
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>