
{% if sucursals is defined %}
  {% for sucursal in sucursals %}
        <li class="t-center m-b-13">
          <a  id="idSucursal{{ sucursal.id }}" data-id={{ sucursal.id }} data-nombre="{{ sucursal.nombre }}" class="txt19">  {{ sucursal.nombre }} </a>
        </li>
  {% else %}
        <li class="t-center m-b-13">
          <a id="idSucursal0" data-id="0" class="txt19"> Sin sucursales </a>
        </li>
  {% endfor %}

{% else %}
  <li class="t-center m-b-13">
          <a   class="txt19">   </a>
   </li>
{% endif %}


