
<div id="contenidoGraficosAdmin">

<script src="{{ asset('generalTemplate/libreriasGraficas/') }}Chart.min.js"></script>
<script src="{{ asset('generalTemplate/libreriasGraficas/') }}utils.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script>
<style type="text/css">/* Chart.js */@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style>
<div class="row">
	<div class="col-md-2">
	</div>
		<div class="col-md-8">
		<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15 fadeInDown visible-true" data-appear="fadeInDown">
				Graficos de productos
		</span>
		</div>
	<div class="col-md-2">
	</div>
</div>
		<div class="col-md-2">
						</br>
		</div>
<div id="graficos" >
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8"  style="background-color: rgba(250, 240, 220 ,0.80); border-radius: 5px ;  border: solid 1px #FA4A2A;">
		<p class="t-center m-b-22 size3 m-l-r-auto">
			Cantidad de productos que se estan pidiendo a su sucursal en tiempo real: Gráfico de barras
		</p>
			<div class="wrapper">
				<div class="chartjs-size-monitor">
					<div class="chartjs-size-monitor-expand">
						<div class=""></div>
					</div>
					<div class="chartjs-size-monitor-shrink">
						<div class=""></div>
					</div>
				</div>
				<canvas id="chart-productos" style="display: block; width: 488px; height: 244px;" width="488" height="244" class="chartjs-render-monitor"></canvas>
			</div>
			</br>
				<button onclick="AgregarBarraProducto()"  class="btn btn-success"  >agregar</button>
				<button onclick="removerBarraProducto()" class="btn btn-danger"  >remover</button>
	</div>
	<div class="col-md-2">
	</div>
</div>
			<div class="row">
				</br>
			</div>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8"  style="background-color: rgba(250, 240, 220 ,0.80); border-radius: 5px ;  border: solid 1px #FA4A2A;">
		<p class="t-center m-b-22 size3 m-l-r-auto">
			Cantidad de productos que se estan pidiendo a su sucursal en tiempo real: Gráfico circular
		</p>
			<div class="wrapper">
				<div class="chartjs-size-monitor">
					<div class="chartjs-size-monitor-expand">
						<div class=""></div>
					</div>
					<div class="chartjs-size-monitor-shrink">
						<div class=""></div>
					</div>
				</div>
				<canvas id="chart-graficoCircular" style="display: block; width: 488px; height: 244px;" width="488" height="244" class="chartjs-render-monitor"></canvas>
			</div>
			</br>
	</div>
	<div class="col-md-2">
	</div>
</div>
</div>
<div class="col-md-2">
						</br>
</div>
<div class="row">
	</br>
</div>
<script src="{{ asset('generalTemplate/') }}JsProyecto/estadisticasAdminSucursal.js"></script>

  </div>
