 <h4 class="txt5 color0-hov trans-0-4 m-b-12">Lista de Pedidos</h4>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>estado</th>
            <th>Fecha </th>
            <th>total</th>
            <th>cliente</th>
            <th>Direccion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.estado.nombre }}</td>
            <td>{{ pedido.fecha ? pedido.fecha|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ pedido.total }}</td>
            <td>{{ pedido.cliente.usuario.nombres }} , {{ pedido.cliente.usuario.apellidos }}</td>
            <td>{{ pedido.cliente.usuario.getDireccion }}</td>
            <td>
              <button id="btnCambiarEstado{{ pedido.id }}"  data-id="{{ pedido.id }}" class="btn btn-success btn-large"><i class="icon-folder-open">Cambiar Estado</i> </button>
              <button id="btnVer{{ pedido.id }}" data-id="{{ pedido.id }}" class="btn btn-primary btn-large"><i class="icon-folder-open">Ver platillos</i> </button>
              <!--button id="btn1"  class="btn btn-primary btn-large"><i class="icon-folder-open"></i> </button>
              <button id="btn2"  class="btn btn-danger btn-large"><i class="icon-folder-open"></i>  </button>
              <button id="btn3"  class="btn btn-large"><i class="icon-folder-open"></i>  </button-->
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
