
<div id="contenidoPedidos" style="display: block">
<script src="{{ asset('generalTemplate/') }}JsProyecto/gestionPedidos.js"></script>

<div class="container" style="background-color: RGBA(174,173,172,0.8); border-radius: 5px  ; border: solid 1px #FA4A2A;">
<section class="row">


    <div  class="col-md-12 border border-secondary " >
      <div class="row col-md-12" id="tablaPedidos">
        {{ include('pedido/_formTablaPedidos.html.twig') }}
      </div>
      </br>
      <div class="row  col-md-6">
        <div class="row">
            <select id="estadoPedido" class="form-control">
              <option value="0">Seleccione un estado</option>
              {% for estado in estados %}
                <option value="{{estado.id}}">{{estado.nombre}}</option>
                {% else %}
                    <option value="0">sin registros</option>
                {% endfor %}
            </select>
        </div>
          <button id="btnActualizarTablaPedidos"  class="btn btn-success btn-large">
            <i class="icon-folder-open">Actualizar tabla</i>
          </button>
        </div>

        </br>

        <div class="row" class="col-md-12">
          <div id="tablaProductos"  style="background-color: RGBA(174,173,172,0.73);
          border-radius: 5px ; border: solid 1px #FA4A2A;" >
          </div>
        </div>

    </div>
</section>
</div>
</div>
