{% extends'baseNavegacion.html.twig'%}
{% block Titulo %}Gestión de menus y productos{% endblock %}
{% block Breadcrum %}
{% endblock %}
{% block contenido %}

<div class="container" style="background-color: RGBA(174,173,172,0.8); border-radius: 5px  ; border: solid 1px #FA4A2A;">
<section class="row">
{{dump(json)}}

</section>
<section class="row">
{{dump(keys)}}
</section>
<section class="row">
{{dump(modelos)}}
</section>
<section class="row">
  <table>
    <thead>
      {% set temp = result|first %}
        <tr>
        {% for property_title in temp|keys %}
            <td>{{ property_title }}</td>
        {% endfor %}
        </tr>
      </thead>
      <tbody>
          {% for item in result %}
          <tr>
            {% for field in temp|keys %}
            {% if field is not defined %}
              <td width="6%"> no definido </td>
            {% else %}
                {% if field is not null %}
                  {% if field != 'fecha' %}
                    <td width="6%">{{ attribute(item, field) | raw }}</td>
                  {% else %}
                    <td width="6%">{{ attribute(item, field) |date('Y-m-d') }}</td>
                  {% endif %}
              {% else %}
                <td width="6%"> null </td>
              {% endif %}
            {% endif %}

              {% endfor %}
            </tr>
        {% endfor %}
      </tbody>
  </table>
</section>

</div>

{% endblock %}
