<!DOCTYPE html>
<html lang="en">

<head>

  {% block META %}
    {% include 'Dadmin/DMeta.html.twig' %}
  {% endblock %}

  <title>
    {% block Titulo %} {% endblock %}
  </title>
  <!-- Bootstrap core CSS-->
  {% block CSS %}
       {% include 'Dadmin/DCSS.html.twig' %}
  {% endblock %}
</head>
  {% include 'Dadmin/DNav.html.twig' %}

<body class="animsition"  >
        {% block Breadcrum %}
        {% endblock %}
    <section style="min-height: 100%; background-image: url({{ asset('generalTemplate/pato-master/') }}images/slide1-01.jpg);">
          </br>
          <div  class="section-slide">
            <div class="row" style="height:75px;">
            </div>
          </div>
          <div class="row">
            <p class="t-center m-b-22 size3 m-l-r-auto" id="datosSesion" style="background-color: RGBA(2,0,0,0.8); border-radius: 10px ">
              Gestionando la sucursal:    , Usuario:
              {% if app.user %}
              {{app.user.username}}
              {% else %}
              Inicie sesion
              {% endif %}
            </p>
          </div>
      <div id="contenido">
        {% block contenido %}
         <h1><i class="fas fa-home"></i>  Bienvenido/a </h1>
        {% endblock %}
      </div>
    </section>
    {% block Modal %}
    {% endblock %}

    {% block Footer %}
        {% include 'Dadmin/DFooter.html.twig' %}
    {% endblock %}

    {% block JS %}
        {% include 'Dadmin/DFJS.html.twig' %}
    {% endblock %}

</body>
<!--=============================== variables globales para la pagina?=====================================-->

<script type="text/javascript">

var sucursal=0;     var nombreSucursal;
var idMenu;       var idProducto;
var menu_filtro;  var verificarProducto;
var estado=0;     var pedido;
var estado;       var tablaPedidos;
var tablaProductos; var idUsuario
var nombreUsuario;
var idSucursal;
{% if app.user %}
 idUsuario={{app.user.id}};  nombreUsuario="{{app.user.username}}";
{% else %}
idUsuario=0; nombreUsuario="";
{% endif %}

var form = document.getElementById("producto-id");
const Toast = Swal.mixin({toast: true,position: 'top-end',showConfirmButton: false,timer: 3000})

$(document).ready(function() {
//---------------------ESTAS FUNCIONES CARGAN LAS VISTAS QUE AUN NO SE HAN CARGADO Y OCULTAN LAS DEMAS --------------------------
  async function vistaCrudSucursalesSuperAdmin(){
    var contenidoInterno= document.getElementById('contenidoSucursales');
    if(contenidoInterno == null){
      await $.ajax({
          url: "{{ path('render_sucursales')}}",
          data: {
          },
          type: 'POST',
          error: function(err) {
            Toast.fire({ icon:'success', title: err })
          },
          success: function(data) {
            //$("#contenido").empty();
            var elemento = document.getElementById("contenido");
            $(data).appendTo(elemento);
          },
          complete: function() {
          }
      })
    }else{
      cambiarFoco(contenidoInterno);
    }
  }

    $('body').on('click', '#navMenu a', function(){ //Identifica la vista que se ha pedido y manda a llamar a las funciones necesarias
      event.stopPropagation();
      event.stopImmediatePropagation();
      cadena=this.id;
      if( sucursal== 0){
        Toast.fire({ icon:'success', title: "Seleccione una sucursal"})
      }
        if(cadena== 'NavPedidos' ){
            vistaPedidos();// cargar vista y/o ocultar las demas
        }
        if(cadena== 'NavProductosYmenu' ){
            vistaProductosMenus();
        }
        if(cadena== 'chats' ){
            vistaChats();
        }
        if(cadena== 'GraficosAdmin' ){
            vistaGraficosAdmin();
        }
        if(cadena== 'crudSucursales' ){
            vistaCrudSucursalesSuperAdmin();
        }
        if(cadena== 'NavinformesAdmin' ){
            vistaInformesAdmin();
        }
    });

  async function vistaInformesAdmin(){
    var contenidoInterno= document.getElementById('contenidoReportes');
    if(contenidoInterno == null){
      await $.ajax({
          url: "{{ path('render_reportes')}}",
          data: {
          },
          type: 'POST',
          error: function(err) {
            Toast.fire({ icon:'success', title: err })
          },
          success: function(data) {
            //$("#contenido").empty();
            var elemento = document.getElementById("contenido");
            $(data).appendTo(elemento);
          },
          complete: function() {
          }
      })
    }else{
      cambiarFoco(contenidoInterno);
    }
  }

  function cambiarFoco(enfocar){ //En caso de que laa vista ya este cargada oculta y muestra la necesaria
  //alert("cambiar foco");
    var p= document.getElementById('contenidoMensajes');
    if(p !=null && p!= enfocar ){
      p.style.display = 'none';
    }
    var p= document.getElementById('contenidoPedidos');
    if(p !=null && p!= enfocar ){
      p.style.display = 'none';
    }
    var p= document.getElementById('contenidoPlatillosProductos');
    if(p !=null && p!= enfocar ){
      p.style.display = 'none';
    }
    var p= document.getElementById('contenidoSucursales');
    if(p !=null && p!= enfocar ){
      p.style.display = 'none';
    }
    var p= document.getElementById('contenidoGraficosAdmin');
    if(p !=null && p!= enfocar ){
      p.style.display = 'none';
    }
    var p= document.getElementById('contenidoReportes');
    if(p !=null && p!= enfocar ){
      p.style.display = 'none';
    }
    enfocar.style.display = 'block';
  }


  async function vistaGraficosAdmin(){
    var contenidoInterno= document.getElementById('contenidoGraficosAdmin');
    if(contenidoInterno == null){
      await $.ajax({
          url: "{{ path('render_graficos_index')}}",
          data: {
          },
          type: 'POST',
          error: function(err) {
            Toast.fire({ icon:'success', title: err })
          },
          success: function(data) {
            //$("#contenido").empty();
            var elemento = document.getElementById("contenido");
            $(data).appendTo(elemento);
          },
          complete: function() {
          }
      })
    }else{
      cambiarFoco(contenidoInterno);
    }
  }

  async function vistaChats(){
    var contenidoInterno= document.getElementById('contenidoMensajes');
    if(contenidoInterno == null){
      await $.ajax({
          url: "{{ path('render_chats_admins')}}",
          data: {
             'sucursal': sucursal,
          },
          type: 'POST',
          error: function(err) {
            Toast.fire({ icon:'success', title: err })
          },
          success: function(data) {
            //$("#contenido").empty();
            var elemento = document.getElementById("contenido");
            $(data).appendTo(elemento);
          },
          complete: function() {
          }
      })
    }else{
      cambiarFoco(contenidoInterno);
    }
  }
  async function vistaProductosMenus(){
    var contenidoInterno= document.getElementById('contenidoPlatillosProductos');
    if(contenidoInterno == null){
        await $.ajax({
            url: "{{ path('render_productos_menu')}}",
            data: {
               'sucursal': sucursal,
            },
            type: 'POST',
            error: function(err) {
              Toast.fire({ icon:'success', title: err })
            },
            success: function(data) {
              //$("#contenido").empty();
              var elemento = document.getElementById("contenido");
              $(data).appendTo(elemento);
            },
            complete: function() {
              form = document.getElementById("producto-id");
              document.getElementById("guardar").disabled= false;
              document.getElementById("btnEditarProducto").disabled= true;
              document.getElementById("btnEliminarProducto").disabled= true;
            }
        })
      }
      else{
        cambiarFoco(contenidoInterno);
      }
    }
  async function vistaPedidos(){ //Cargar la vista de pedidos si aun no ha sido cargada
    var contenidoInterno= document.getElementById('contenidoPedidos');
    if(contenidoInterno == null){
        await $.ajax({
            url: "{{ path('render_pedido_ajax')}}",
            data: {
               'sucursal': sucursal,
            },
            type: 'POST',
            error: function(err) {
              Toast.fire({ icon:'success', title: err })
            },
            success: function(data) {
              //$("#contenido").empty();
              var elemento = document.getElementById("contenido");
              $(data).appendTo(elemento);
            },
            complete: function() {
              tablaPedidos= document.getElementById("tablaPedidos");
              tablaProductos= document.getElementById("tablaProductos");
            }
        })
        }else{
          cambiarFoco(contenidoInterno);
        }
    }
//--------------------------------------------------------
    $('body').on('click', '#sucursalLista a', function(){ //Usuario selecciona una sucursal
          event.stopPropagation();
          event.stopImmediatePropagation();
          sucursal="";    nombreSucursal="";
          idMenu="";      idProducto="";
          menu_filtro=""; verificarProducto="";
          sucursal=document.getElementById(this.id).dataset.id;
          nombreSucursal= document.getElementById(this.id).dataset.nombre;
          $("#datosSesion").empty();
          $("#datosSesion").append("Gestionando la sucursal: " + nombreSucursal+ '-- '+ sucursal + "---, Usuario: " + nombreUsuario );
          var p1= document.getElementById('contenidoMensajes');
          if(p1 !=null){
            $("#contenido").empty();
              
          }
      });

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% endif %}

});
</script>
</html>
