{% block contenido %}
{% autoescape  'html' %}
  <table id="tablaIncrustada">
    <thead class="thead-light">


      {% set temp = result|first %}
        <tr>
        {% for property_title in temp|keys %}
            <td>{{ property_title }}</td>
        {% endfor %}
        </tr>

        </thead>
        <tbody>
          {% for item in result %}
              <tr>
                  {% for field in temp|keys %}
                      <td width="6%">{{ attribute(item, field) | raw }}</td>
                  {% endfor %}
              </tr>
          {% endfor %}
        </tbody>
  </table>
{% endautoescape %}
{% endblock %}
