
<link href="{{ asset('generalTemplate/DashboardAdmin/') }}vendor/fontawesome/css/all.css" rel="stylesheet" type="text/css">

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ asset('generalTemplate/pato-master/') }}images/icons/favicon.png"/>
<!--===============================================================================================-->

<!--===============================================================================================-->
	<link  rel="stylesheet" type="text/css"  href="{{ asset('generalTemplate/pato-master/') }}fonts/font-awesome-4.7.0/css/font-awesome.min.css">

<!--===============================================================================================-->
	<link  rel="stylesheet" type="text/css"  href="{{ asset('generalTemplate/pato-master/') }}fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link  rel="stylesheet" type="text/css"  href="{{ asset('generalTemplate/pato-master/') }}vendor/animate/animate.css">
<!--===============================================================================================-->
	<link  rel="stylesheet" type="text/css"  href="{{ asset('generalTemplate/pato-master/') }}vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link  rel="stylesheet" type="text/css"  href="{{ asset('generalTemplate/pato-master/') }}vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link  rel="stylesheet" type="text/css"  href="{{ asset('generalTemplate/pato-master/') }}vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link  rel="stylesheet" type="text/css"  href="{{ asset('generalTemplate/pato-master/') }}vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link  rel="stylesheet" type="text/css"  href="{{ asset('generalTemplate/pato-master/') }}vendor/slick/slick.css">
<!--===============================================================================================-->
	<link  rel="stylesheet" type="text/css"  href="{{ asset('generalTemplate/pato-master/') }}vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link  rel="stylesheet" type="text/css"  href="{{ asset('generalTemplate/pato-master/') }}css/util.css">
	<link  rel="stylesheet" type="text/css"  href="{{ asset('generalTemplate/pato-master/') }}css/main.css">
<!--===============================================================================================-->


<!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"-->

	<link rel="stylesheet" type="text/css" href="{{ asset('generalTemplate/pato-master/') }}vendor/bootstrap/css/bootstrap.min.css">

 <link href="{{ asset('generalTemplate/DashboardAdmin/') }}vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" crossorigin="anonymous">