



<!--===============================================================================================-->
	<script src="{{ asset('generalTemplate/pato-master/') }}vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="{{ asset('generalTemplate/pato-master/') }}vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="{{ asset('generalTemplate/pato-master/') }}vendor/bootstrap/js/popper.js"></script>

<!--===============================================================================================-->
	<script src="{{ asset('generalTemplate/pato-master/') }}vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="{{ asset('generalTemplate/pato-master/') }}vendor/daterangepicker/moment.min.js"></script>
	<script src="{{ asset('generalTemplate/pato-master/') }}vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="{{ asset('generalTemplate/pato-master/') }}vendor/slick/slick.min.js"></script>
	<script src="{{ asset('generalTemplate/pato-master/') }}js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="{{ asset('generalTemplate/pato-master/') }}vendor/parallax100/parallax100.js"></script>
	<script type="text/javascript">
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="{{ asset('generalTemplate/pato-master/') }}vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="{{ asset('generalTemplate/pato-master/') }}vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script src="{{ asset('generalTemplate/pato-master/') }}js/main.js"></script>

  <!--script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script-->

	<script type="text/javascript" src="{{ asset('generalTemplate/pato-master/') }}vendor/bootstrap/js/bootstrap.min.js"></script>

	<script src="{{ asset('generalTemplate/pato-master/') }}js/slick-custom.js"></script>

	<script src="{{ asset('generalTemplate/DashboardAdmin/') }}vendor/jquery/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>