<header class="">
<div class="row wrap-menu-header gradient1 trans-0-4">
  <div class="row justify-content-center">
    <div class="wrap_header trans-0-3">
      <!-- Logo -->
      
      <!-- Menu -->
      <div class="wrap_menu p-l-45 p-l-0-xl" id="navMenu">
        <nav class="menu">
        <div class="logo">
        <a href="index.html">
          <img src="{{ asset('generalTemplate/pato-master/') }}images/icons/logo.png" alt="IMG-LOGO" data-logofixed="{{ asset('generalTemplate/pato-master/') }}images/icons/logo2.png">
        </a>
      </div>
          <ul class="main_menu">
            <li>
              <a style="font-size:11px;" href="#" id="NavProductosYmenu" >Productos y menus</a>
            </li>

            <li>
              <a style="font-size:11px;" href="#"  id="NavPedidos" >Pedidos</a>
            </li>

            <li>
              <a style="font-size:11px;" href="#"  id="chats" >Mensajes</a>
            </li>

            <li>
              <a style="font-size:11px;" href="#" id="GraficosAdmin" > Graficos</a>
            </li>

            <li>
              <a style="font-size:11px;" href="#" id="crudSucursales">Gestionar sucursales</a>
            </li>

            <li>
              <a style="font-size:11px;" href="#" id="NavinformesAdmin">Informes</a>
            </li>

            <li>
              <a style="font-size:11px;" href="#">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Social -->
      <div class="social flex-w flex-l-m p-r-20">
        <a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter m-l-21" aria-hidden="true"></i></a>

        <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
      </div>
    </div>
  </div>
</div>
</header>

<aside id="barraLateral" class="sidebar trans-0-4 ">

		<!-- Button Hide sidebar -->
		<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

		<!-- - -->
		<ul class="menu-sidebar p-t-95 p-b-70">
      <div class="" id="sucursalLista">
          {{ include('sucursal/sucursalLista.html.twig') }}
      </div>
			<li class="t-center">
				<a id="actualizarSucursal"  href="#" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
					Actualizar
				</a>
			</li>
      </br>

      {% if app.user %}
        <li class="t-center">
          <a id="cerrarSesion"   href="{{ path('fos_user_security_logout') }}" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
            <i class="fa fa-sign-out" aria-hidden="true">Cerrar sesion</i>
          </a>
        </li>
      {% else %}
        <li class="t-center">
          <a id="Iniciar sesión"   href="{{ path('fos_user_security_login') }}" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
            <i class="fa fa-sign-in" aria-hidden="true">Iniciar sesion</i>
          </a>
        </li>
      {% endif %}

		</ul>

		<!-- - -->
		<div class="gallery-sidebar t-center p-l-60 p-r-60 p-b-40">
			<!-- - -->
			<h4 class="txt20 m-b-33">
				Gallery
			</h4>

			<!-- Gallery -->
			<div class="wrap-gallery-sidebar flex-w">
				<a class="item-gallery-sidebar wrap-pic-w" href="{{ asset('generalTemplate/pato-master/') }}images/photo-gallery-01.jpg" data-lightbox="gallery-footer">
					<img src="{{ asset('generalTemplate/pato-master/') }}images/photo-gallery-thumb-01.jpg" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{{ asset('generalTemplate/pato-master/') }}images/photo-gallery-02.jpg" data-lightbox="gallery-footer">
					<img src="{{ asset('generalTemplate/pato-master/') }}images/photo-gallery-thumb-02.jpg" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{{ asset('generalTemplate/pato-master/') }}images/photo-gallery-03.jpg" data-lightbox="gallery-footer">
					<img src="{{ asset('generalTemplate/pato-master/') }}images/photo-gallery-thumb-03.jpg" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{{ asset('generalTemplate/pato-master/') }}images/photo-gallery-05.jpg" data-lightbox="gallery-footer">
					<img src="{{ asset('generalTemplate/pato-master/') }}images/photo-gallery-thumb-05.jpg" alt="GALLERY">
				</a>

			</div>
		</div>
	</aside>
