{{ form_start(formMenu) }}

    <table>
    <tr>
      <span class="txt9"><td>
        {{ form_label( formMenu.nombre) }}
        {{ form_widget(formMenu.nombre) }}
      </td></span>
      <tr>
      </tr>
      <td>
        {{ form_label(formMenu.descripcion) }}
        {{ form_widget(formMenu.descripcion) }}
      </td>
    </tr>

  </table>
{{ form_end(formMenu) }}
