{% block contenido %}
    <table class="table" id="menus">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td id="menuId{{ menu.id}}"  >{{ menu.id }}</td>
                <td id="menuNombre{{ menu.id}}"  >{{ menu.nombre }}</td>
                <td id="menuDescripcion{{ menu.id}}" >{{ menu.descripcion }}</td>
                <td>
                    <button id="menu{{ menu.id }}"  data-idMenu={{ menu.id }} style="margin: 10px" class="btn btn-primary"> <i class="fas fa-edit"> Editar menu </i> </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
