{% for mensaje in mensajes %}
    {% if mensaje.idUserA.id == user %}
    <div class="d-flex justify-content-end mb-4">
       <div class="msg_cotainer_send">
         {{ mensaje.contenido }}
        <span class="msg_time_send">{{ mensaje.fecha|date("m/d/Y") }}</span>
       </div>
       <div class="img_cont_msg">
       </div>
    </div>

    {% endif %}

    {% if mensaje.idUserB.id == user %}
    <div class="d-flex justify-content-start mb-4">
       <div class="img_cont_msg">
          <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
       </div>
       <div class="msg_cotainer">
          {{ mensaje.contenido }}
          <span class="msg_time">{{ mensaje.fecha|date("m/d/Y") }}</span>
       </div>
    </div>
    {% endif %}

{% endfor %}
