
<div id="contenidoReportes" style="display: block">

    <div class="container" style="background-color: RGBA(174,173,172,0.8); border-radius: 5px  ; border: solid 1px #FA4A2A;">

        <div class="row">
            <div class="col-sm-3">
                <label for="">Date from:</label>
                <input type="date" id="fechaInicial" value="2019-04-01" class="form-control">
                <p> </p>
            </div>
            <div class="col-sm-3">
                <label for="">Date to:</label>
                <input type="date" id="fechaFinal" value="2019-04-30" class="form-control">
                <p> </p>
            </div>
            <!-- <div class="col-sm-3">
                <label for="">Report?</label>
                <select id="report" class="form-control">
                    <p> </p>
                    <option value="0">select report</option>
                </select>
            </div-->
        </div>

        <input id="generar" class="btn btn-info" type="submit" value="Generar reporte">
        <br>

        <div id="tablaImpresion" style="overflow-x:auto;">

        </div>

        <div id="tabla" style="overflow-x:auto;">

        </div>

    </div>
</div>


    <script src="{{ asset('generalTemplate/') }}JsProyecto/informes.js"></script>
