</br>

<style>

    thead, tbody, tr, td div, th, div{
    page-break-inside: avoid;
    }
    table {
    border-collapse: collapse;
    width: 100%;
    }

    th, td {
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
</style>
<style type="text/css" media="screen,print">
       /* Page Breaks */

/***Always insert a page break before the element***/
       .pb_before {
           page-break-before: always !important;
       }

/***Always insert a page break after the element***/
       .pb_after {
           page-break-after: always !important;
       }

/***Avoid page break before the element (if possible)***/
       .pb_before_avoid {
           page-break-before: avoid !important;
       }

/***Avoid page break after the element (if possible)***/
       .pb_after_avoid {
           page-break-after: avoid !important;
       }

/* Avoid page break inside the element (if possible) */
       .pbi_avoid {
           page-break-inside: avoid !important;
       }

   </style>
   


<div style="overflow-x:auto;">
<h4 class="txt13 m-b-33" align="center"> Agrupacion de productos vendidos con los ingresos correspondientes para la sucursal seleccionada </h4>
<table id="tablaIncrustada1" class="display" style="width:100%">
    <thead style="display: table-row-group;" >
      {% set temp = resultProductos|first %}
        <tr>
        {% for property_title in temp|keys %}
            <th>{{ property_title }}</th>
        {% endfor %}
        </tr>
    </thead>
        <tbody>
          {% for item in resultProductos %}
              <tr>
                  {% for field in temp|keys %}

                      
                        {% if attribute(item, field).timestamp is defined %}
                            <th width="6%">{{ attribute(item, field)|date('d/m/Y, H:i:s') }}</th>
                        {% else %}
                           <th width="6%">{{ attribute(item, field) | raw }}</th>
                        {% endif %}
                  {% endfor %}
              </tr>
          {% endfor %}
        </tbody>
  </table>
</br></br>


<h4 class="txt13 m-b-33" align="center" > Agrupacion de productos de cada menu vendidos con los ingresos correspondientes para la sucursal seleccionada </h4>
<table id="tablaIncrustada2" class="display" style="width:100%">
    <thead style="display: table-row-group;" >
      {% set temp = resultMenu|first %}
        <tr>
        {% for property_title in temp|keys %}
            <th>{{ property_title }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for item in resultMenu %}
              <tr>
                  {% for field in temp|keys %}

                      
                        {% if attribute(item, field).timestamp is defined %}
                            <th width="6%">{{ attribute(item, field)|date('d/m/Y, H:i:s') }}</th>
                        {% else %}
                           <th width="6%">{{ attribute(item, field) | raw }}</th>
                        {% endif %}
                  {% endfor %}
              </tr>
          {% endfor %}
        </tbody>
  </table>
</br></br>

<h4 class="txt13 m-b-33" align="center" > Agrupacion de productos cancelados con las perdidas correspondientes para la sucursal seleccionada </h4>
  <table id="tablaIncrustada3" class="display" style="width:100%">
    <thead style="display: table-row-group;" >
      {% set temp = resultProductosCancelados|first %}
        <tr>
        {% for property_title in temp|keys %}
            <th>{{ property_title }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for item in resultProductosCancelados %}
              <tr>
                  {% for field in temp|keys %}

                      
                        {% if attribute(item, field).timestamp is defined %}
                            <th width="6%">{{ attribute(item, field)|date('d/m/Y, H:i:s') }}</th>
                        {% else %}
                           <th width="6%">{{ attribute(item, field) | raw }}</th>
                        {% endif %}
                  {% endfor %}
              </tr>
          {% endfor %}
        </tbody>
  </table>
</br></br>

<h4 class="txt13 m-b-33" align="center" > Agrupacion por menus de los productos canceladores con las perdidas correspondientes para la sucursal seleccionada </h4>
  <table id="tablaIncrustada4" class="display" style="width:100%">
    <thead style="display: table-row-group;" >
      {% set temp = resultMenusCancelados|first %}
        <tr>
        {% for property_title in temp|keys %}
            <th>{{ property_title }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for item in resultMenusCancelados %}
              <tr>
                  {% for field in temp|keys %}

                      
                        {% if attribute(item, field).timestamp is defined %}
                            <th width="6%">{{ attribute(item, field)|date('d/m/Y, H:i:s') }}</th>
                        {% else %}
                           <th width="6%">{{ attribute(item, field) | raw }}</th>
                        {% endif %}
                  {% endfor %}
              </tr>
          {% endfor %}
        </tbody>
  </table>
</br></br>


<h4 class="txt13 m-b-33" align="center"> Agrupacion de productos vendidos con los ingresos correspondientes para todas las sucursales</h4>
  <table id="tablaIncrustada5" class="display" style="width:100%">
    <thead style="display: table-row-group;" >
      {% set temp = resultProductosGeneral|first %}
        <tr>
        {% for property_title in temp|keys %}
            <th>{{ property_title }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for item in resultProductosGeneral %}
              <tr>
                  {% for field in temp|keys %}
                        {% if attribute(item, field).timestamp is defined %}
                            <th width="6%">{{ attribute(item, field)|date('d/m/Y, H:i:s') }}</th>
                        {% else %}
                           <th width="6%">{{ attribute(item, field) | raw }}</th>
                        {% endif %}
                  {% endfor %}
              </tr>
          {% endfor %}
        </tbody>
  </table>
</br></br>

<h4 class="txt13 m-b-33" align="center" > Agrupacion de productos de cada menu vendidos con los ingresos correspondientes para todas las sucursales</h4>
  <table id="tablaIncrustada6" class="display" style="width:100%">
    <thead style="display: table-row-group;" >
      {% set temp = resultMenusGeneral|first %}
        <tr>
        {% for property_title in temp|keys %}
            <th>{{ property_title }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for item in resultMenusGeneral %}
              <tr>
                  {% for field in temp|keys %}

                      
                        {% if attribute(item, field).timestamp is defined %}
                            <th width="6%">{{ attribute(item, field)|date('d/m/Y, H:i:s') }}</th>
                        {% else %}
                           <th width="6%">{{ attribute(item, field) | raw }}</th>
                        {% endif %}
                  {% endfor %}
              </tr>
          {% endfor %}
        </tbody>
  </table>
</br></br>

<h4 class="txt13 m-b-33" align="center" > Agrupacion de productos cancelados con las perdidas correspondientes para todas las sucursales </h4>
  <table id="tablaIncrustada7" class="display" style="width:100%">
    <thead style="display: table-row-group;" >
      {% set temp = resultProductosCanceladosGeneral|first %}
        <tr>
        {% for property_title in temp|keys %}
            <th>{{ property_title }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for item in resultProductosCanceladosGeneral %}
              <tr>
                  {% for field in temp|keys %}

                      
                        {% if attribute(item, field).timestamp is defined %}
                            <th width="6%">{{ attribute(item, field)|date('d/m/Y, H:i:s') }}</th>
                        {% else %}
                           <th width="6%">{{ attribute(item, field) | raw }}</th>
                        {% endif %}
                  {% endfor %}
              </tr>
          {% endfor %}
        </tbody>
  </table>
</br></br>

<h4 class="txt13 m-b-33" align="center" > Agrupacion por menus de los productos canceladores con las perdidas correspondientes para todas las sucursales</h4>
  <table id="tablaIncrustada8" class="display" style="width:100%">
    <thead style="display: table-row-group;" >
      {% set temp = resultMenusCanceladosGeneral|first %}
        <tr>
        {% for property_title in temp|keys %}
            <th>{{ property_title }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for item in resultMenusCanceladosGeneral %}
              <tr>
                  {% for field in temp|keys %}

                      
                        {% if attribute(item, field).timestamp is defined %}
                            <th width="6%">{{ attribute(item, field)|date('d/m/Y, H:i:s') }}</th>
                        {% else %}
                           <th width="6%">{{ attribute(item, field) | raw }}</th>
                        {% endif %}
                  {% endfor %}
              </tr>
          {% endfor %}
        </tbody>
  </table>
</br></br>

</div>